.speak-container {
  max-width: 1200px;
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  margin: 0 auto;
  color: #2b383c;
}

.card {
  max-width: 384px;
  cursor: pointer;
  border-radius: 20px;
  max-height: 463px;
  overflow: hidden;
  background-color: #fff;
  margin: 0 auto;
  margin-bottom: 2.5rem;
  box-shadow: 0px 5px 12px rgba(0, 0, 0, 0.6);
  position: relative;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    opacity: 0;
    transition: opacity 0.3s ease;
    pointer-events: none;
  }
  &:hover::before {
    opacity: 1;
  }
}
.img-container {
  background-color: #f6ebcc;
  width: 384px;
  height: 300px;
  object-fit: fill;
}
.img-container img {
  width: 100%;
}
.content-container {
  height: 163px;
}
.name {
  margin-top: 2.25rem;
  font-size: 1.25rem;
  font-weight: bold;
  line-height: 1.5rem;
  text-align: center;
}
.job-title {
  font-size: 1rem;
  text-align: center;
}

.tab {
  font-size: 0.875rem;
  text-align: center;
}
@media screen and (max-width: 1024px) {
  .speak-container {
    max-width: 960px;
    gap: 12px;
    margin: 0 auto;
  }
  .card {
    max-width: 300px;
    max-height: 463px;
  }
}
@media screen and (max-width: 768px) {
  .speak-container {
    max-width: 720px;
    margin: 0 auto;
  }
  .card {
    margin: 0 auto 1.25rem auto;
    max-width: 340px;
    max-height: 463px;
  }
}
@media screen and (max-width: 375px) {
  .speak-container {
    max-width: 343px;
    margin: 1.25rem auto 0 auto;
  }
  .card {
    margin-bottom: 1.25rem;
    max-width: 343px;
    max-height: 463px;
  }
}
